body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1;
}


:root {
  --gold: rgb(234, 179, 0);
  --paleGrey: rgb(227, 227, 227);
  --darkGrey: rgb(91, 91, 91); 
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* planner section */
.container {
  padding: 2%;
  max-height: 400px;
  overflow-y: scroll;
}

.time {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

.row {
  white-space: pre-wrap;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 2px;
}

textarea {
  white-space: pre-wrap;
  background: transparent;
  resize: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: none;
  border-bottom: 1px dashed var(--paleGrey);
}

.strikethrough {
  text-decoration: line-through;
}

.past {
  background-color: var( --paleGrey);
  color: black;
  border-radius: 7px;
  color: var(--darkGrey)
}

.past textarea {
  border-bottom: 1px dashed var(--darkGrey);
}

.present {
  background-color: var(--gold);
  color: black;
  border-radius: 7px;
}

.future {
  border: 2px solid var(--gold);
  color: black;
  border-radius: 7px;
}

/*Buttons*/

#eventButtons {
  display: flex;
  justify-content: space-evenly;
}

.saveBtn {
  color: black;
}

#eventButtons button:hover {
  color: var(--gold);
  transition: all 0.3s ease-in-out;
}

.present #eventButtons button:hover {
  color:white;
}

/* notifications section */

#notifications {
  text-align: center;
  display: none;
}

.show {
  display: block;
}




